#sortAndFilter {
    text-align: right;
    margin: 4px;

    input {
        margin: 3px;
        font-size: .7rem;
    }
}

h1 {
    padding: 8px 0;
    font-size: 1.6rem;
    font-weight: normal;
    font-family: Montserrat, sans-serif;

    .fas {
        color: hotpink;
        font-size: 1.4rem;

    }
}