.tableHead {
    font-weight: bold;
    padding-bottom: 10px;
    border-top: 1px dotted #999;
    color: hotpink;

    .fas {
        font-size: 1.2rem;
        margin: 0 2px;
        opacity: .5;
    }
}

.row {
    display: flex;
    flex-direction: row;
    transition: all .5s;

    * {
        flex: 1;
        align-self: center;
    }

    img {
        width: auto;
        max-width: 40px;
    }

    &.tableContent {
        &:nth-child(even) {
            color: #888;
            background-color: #444;

            &:hover {
                background-color: #ccc;
                color: #111;
            }
        }

        &:nth-child(odd) {
            color: #888;
            background-color: #333;

            &:hover {
                background-color: #ccc;
                color: #111;
            }
        }
    }
}

#tracks {
    margin-bottom: 30px;
}