.tableHead.row {
    font-weight: bold;
    padding-bottom: 10px;
    border-top: 1px dotted #999;
    color: hotpink;

    @media screen and (max-width: 560px) {
        display: inline;
        border-top: none;

        .preview {
            display: none;
        }

        &:before {
            content: "Sort by:";
            color: #fff;
            padding: 5px;
        }

        div {
            display: inline-block;
            padding: 15px 8px;
            width: auto;

            * {
                width: auto;
            }
        }
    }

    .fas {
        font-size: 1.2rem;
        margin: 0 2px;
        opacity: .5;
    }
}

.row {
    display: flex;
    flex-direction: row;
    transition: all .5s;

    @media screen and (max-width: 560px) {
        &.tableContent {
            flex-direction: column;
            padding: 10px;
        }
    }

    * {
        flex: 1;
        align-self: center;

        @media screen and (max-width: 560px) {
            display: inline-block;
            flex-direction: row;
            width: 100%;

            i {
                width: auto;
            }
        }

        .label {
            display: none;

            @media screen and (max-width: 560px) {
                color: hotpink;
                font-weight: bold;
                margin: 5px;
                width: 30%;
                display: inline-block;
            }
        }
    }

    img {
        width: auto;
        max-width: 40px;

        @media screen and (max-width: 560px) {
            max-width: 100px;
            width: auto;
        }
    }

    &.tableContent {
        &:nth-child(even) {
            color: #888;
            background-color: #444;

            &:hover {
                background-color: #ccc;
                color: #111;
            }
        }

        &:nth-child(odd) {
            color: #888;
            background-color: #333;

            &:hover {
                background-color: #ccc;
                color: #111;
            }
        }
    }
}

#tracks {
    margin-bottom: 30px;
}