.tableHead.row {
    font-weight: bold;
    padding-bottom: 10px;
    border-top: 1px dotted #999;
    color: hotpink;

    @media screen and (max-width: 560px) {
        display: inline;
        border-top: none;

        &:before {
            content: "Sort by:";
            color: #fff;
            padding: 5px;
        }

        div {
            display: inline-block;
            padding: 15px 8px;
        }
    }

    .fas {
        font-size: 1.2rem;
        margin: 0 2px;
        opacity: .5;
    }
}

.row {
    display: flex;
    flex-direction: row;
    transition: all .5s;

    @media screen and (max-width: 560px) {
        flex-direction: column;
    }

    * {
        flex: 1;
        align-self: center;
    }

    img {
        width: auto;
        max-width: 40px;
    }

    &.tableContent {
        &:nth-child(even) {
            color: #888;
            background-color: #444;

            &:hover {
                background-color: #ccc;
                color: #111;
            }
        }

        &:nth-child(odd) {
            color: #888;
            background-color: #333;

            &:hover {
                background-color: #ccc;
                color: #111;
            }
        }
    }
}

#tracks {
    margin-bottom: 30px;
}