@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat|Pacifico");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 16px; }

body {
  background-color: #111;
  color: #aaa;
  font-family: Lato, sans-serif;
  font-size: .8rem; }

.fas {
  margin: 0 5px; }

p {
  margin: 5px 0; }

#sortAndFilter {
  text-align: right;
  margin: 4px; }
  #sortAndFilter input {
    margin: 3px;
    font-size: .7rem; }

h1 {
  padding: 8px 0;
  font-size: 1.6rem;
  font-weight: normal;
  font-family: Montserrat, sans-serif; }
  h1 .fas {
    color: hotpink;
    font-size: 1.4rem; }

.tableHead {
  font-weight: bold;
  padding-bottom: 10px;
  border-top: 1px dotted #999;
  color: hotpink; }
  .tableHead .fas {
    font-size: 1.2rem;
    margin: 0 2px;
    opacity: .5; }

.row {
  display: flex;
  flex-direction: row;
  transition: all .5s; }
  .row * {
    flex: 1;
    align-self: center; }
  .row img {
    width: auto;
    max-width: 40px; }
  .row.tableContent:nth-child(even) {
    color: #888;
    background-color: #444; }
    .row.tableContent:nth-child(even):hover {
      background-color: #ccc;
      color: #111; }
  .row.tableContent:nth-child(odd) {
    color: #888;
    background-color: #333; }
    .row.tableContent:nth-child(odd):hover {
      background-color: #ccc;
      color: #111; }

#tracks {
  margin-bottom: 30px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 35px;
  background-color: #111;
  font-size: .7rem;
  padding: 5px; }
  footer .hotpink {
    background-color: hotpink;
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
    font-family: 'Pacifico', cursive;
    font-size: .9rem;
    float: right; }
  footer a {
    color: #eee; }
